.jesi {
    width: 100vw;
    // height: 100vh;
    background-color: #A2C0BE;
    display: flex;
    // border: 2px solid black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .pictures {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;

        // border: 2px solid black;

        .pics {
            width: 350px;
            height: 803px;
            // border: 2px solid black;
            margin: 10px;
        }

        @media (max-width:840px) {
            .pics {
                width: 500px;

                .img {
                    background-size: 100%;
                    background-position: center;
                }
            }
        }



        .pics:nth-child(1) {
            @extend %df;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            .img {
                width: 100%;
                height: 58%;
                // border: 2px solid black;
                background-image: url('./src/dogger_trainer_1.jpg.webp');
                background-size: 100%;
                transition: 1.5s;
                background-repeat: no-repeat;

                &:hover {
                    @extend %hover;
                }
            }

            .jesica {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;

                p {
                    margin: 25px;
                }

                p:first-child {
                    font-size: 2em;
                }

                p:nth-child(3) {
                    position: relative;

                    span {
                        margin: 10px;
                        padding: 8px 12px;
                        background-color: white;
                        border-radius: 50%;
                        position: absolute;
                        bottom: -40px;
                        transition: 1s;

                        &:hover {
                            transform: translateY(-20px);
                        }

                    }

                    span:nth-child(2) {
                        left: 70px;


                    }



                    span:nth-child(3) {
                        left: 140px;
                        padding: 8px 14px;
                    }


                }
            }


        }




        .pics:nth-child(2) {
            @extend %df;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            .img {
                width: 100%;
                height: 58%;
                // border: 2px solid black;
                background-image: url('./src/dogger_trainer_2.jpg.webp');
                background-size: 100%;
                transition: 1.5s;

                &:hover {
                    @extend %hover;
                }
            }

            .jesica {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;

                p {
                    margin: 25px;
                }

                p:first-child {
                    font-size: 2em;
                }

                p:nth-child(3) {
                    position: relative;

                    span {

                        margin: 10px;
                        padding: 8px 12px;
                        background-color: white;
                        border-radius: 50%;
                        position: absolute;
                        transition: 1s;
                        bottom: -40px;

                        &:hover {
                            transform: translateY(-20px);
                        }
                    }

                    span:nth-child(2) {
                        left: 70px;


                    }



                    span:nth-child(3) {
                        left: 140px;
                        padding: 8px 14px;
                    }

                }
            }


        }


        .pics:nth-child(3) {
            @extend %df;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            // flex-grow: 1;

            .img {
                width: 100%;
                height: 58%;
                // border: 2px solid black;
                background-image: url('./src/dogger_trainer_3.jpg.webp');
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                transition: 1.5s;
                // flex-grow: 1;

                &:hover {
                    @extend %hover;
                }
            }

            .jesica {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;

                p {
                    margin: 25px;
                }

                p:first-child {
                    font-size: 2em;
                }

                p:nth-child(3) {
                    position: relative;

                    span {
                        margin: 10px;
                        padding: 8px 12px;
                        background-color: white;
                        border-radius: 50%;
                        position: absolute;
                        transition: 1s;
                        bottom: -40px;

                        &:hover {
                            transform: translateY(-20px);
                        }





                    }

                    span:nth-child(2) {
                        left: 70px;


                    }



                    span:nth-child(3) {
                        left: 140px;
                        padding: 8px 14px;
                    }
                }
            }


        }

    }

    @media(max-width:1233px) {
        .pictures {
            justify-content: flex-start;

            .pics {
                width: 450px;
            }
        }
    }

    @media(max-width:1045px) {
        .pictures {
            justify-content: center;

            .pics {
                width: 500px;
            }
        }
    }
}